{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="container">
	<div class="offset2 span8">
		<h3>About:</h3>
		<h5>What is this?</h5>
		<p>
			RoaRide is an advanced ride board that allows for riders to select from a pool
			of available drivers based on time, start address, and end address. As well
			as this ease of selecting and finding a ride the system brings both parties
			together with very little effort from both ends.
		</p>
		<h5>Why?</h5>
		<p>
			It is always frustrating to find rides and even more frustrating when you know 
			someone was just where you wanted to go, but you didn't know they could give
			you a ride. So, making a system that alleviates this solves a very frustrating
			problem that typical ride sharing boards do not effectively solve. 
		</p>
	</div>
</div>
{% endblock %}
