{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="offset3 span4">
			<div class="row">
				<a href="/driver/set">Do you want to offer people rides?</a>
			</div>
		</div>
		<div class="span4">
			<div class="row">
				<a href="/rider/set">Do you need a ride?</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="offset2 span8">
			Remember you can become both a rider or a driver from your account page.
		</div>
	</div>
</div>
{% endblock %}
