<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="http://codeorigin.jquery.com/jquery-1.10.2.js"></script>
			<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
			<script src="/static/js/bootstrap-datepicker.js"></script>
			<link href="/static/css/bootstrap.white.css" rel="stylesheet" media="screen">
			<link href="/static/css/datepicker.css" rel="stylesheet">
			<style type="text/css">
				.muted {
					color: #99999999;
				}
				#footer { 
					position: relative;
				}
			</style>
			<title>IndependentStudy - {% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="masthead">
				<div class="menu-top-container">
						<ul id=menu-top" class="nav nav-pills pull-right">
							{% block navigation %}
								<li class="current-menu-item"><a href="/">Home</a></li>
								<li class="current-menu-item"><a href="/about">About</a></li>
								<li><a href="/questions">Questions?</a></li>
								<li><a href="/login">Login</a></li>
							{% endblock %}
						</ul>
						<h3><a class="muted" href="{% block home_button %}/{% endblock %}">RoaRide</a></h3>
					<hr>
				</div>
			</div>
		</div>
		<div id="content">{% block content %}{% endblock %}</div>
	</body>
	<div id="footer">
		<div class="container">
		{% block footer %}
			&copy; Copyright 2013 by Sean Reed
		{% endblock %}
		</div>
	</div>
</html>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
{% block custom_javascript %}
{% endblock %}
</script>


