{% extends "driver/driver.html" %}
{% block title %}Schedule: New One{% endblock %}
{% block head %}
	{{ super() }}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="offset4 span4">
			<form method="post" action="/driver/schedule/new">
				<fieldset>
					<legend>Schedule Information</legend>
					{{ schedule.hidden_tag() }}
					{{ schedule.start_str.label }}{{ schedule.start_str }}
					{{ schedule.end_str.label }}{{ schedule.end_str }}
					{{ schedule.day.label }}{{ schedule.day }}
					{{ schedule.time.label }}{{ schedule.time }}
					<button type="submit">Add new Schedule</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block custom_javascript %}
<script>
var geocoder = new google.maps.Geocoder();

(function($) {
	$( document ).ready( function() {
		$("#start_str").blur( function( e ) {
			geocoder.geocode( { "address": $(this).val() }, function( result, status ) {
				if( result.length > 1 ) {
					var t = "<select id=\"start_select\">";
					for( var i in result ) {
						console.log( result[i] );
						loc = result[i].geometry.location;
						t += "<option value=\"" + loc.ob + "," + loc.pb  + "\">" +
							result[i].formatted_address + "</option>";
					}

					t += "</select>";
					$(t).insertAfter( "#start_str" );

					$( "#start_select" ).change( function() {
						var s = $("#start_select option:selected" ).text();
						$( "#start_str" ).val( s );
						geocoder.geocode( { "address": s }, function( result, stats ) {
							var loc = result[0].geometry.location;
							var lat = loc.ob;
							var lng = loc.pb;
							$("#start").val( lat + "," + lng );
							$("#start_select").remove();
						});
					});
					$("#start_select").blur( function() {
						$(this).remove();
					});
				} else if( result.length == 1 ) {
					var loc = result[0].geometry.location;
					var lat = loc.ob;
					var lng = loc.pb;
					$("#start").val( lat + "," + lng )
				}
			});
		});
		$("#end_str").blur( function( e ) {
			geocoder.geocode( { "address": $(this).val() }, function( result, status ) {
				if( result.length > 1 ) {
					var t = "<select id=\"end_select\">";
					for( var i in result ) {
						console.log( result[i] );
						loc = result[i].geometry.location;
						t += "<option value=\"" + loc.ob + "," + loc.pb  + "\">" +
							result[i].formatted_address + "</option>";
					}

					t += "</select>";
					$(t).insertAfter( "#end_str" );

					$( "#end_select" ).change( function() {
						var s = $("#end_select option:selected" ).text();
						$( "#end_str" ).val( s );
						geocoder.geocode( { "address": s }, function( result, stats ) {
							var loc = result[0].geometry.location;
							var lat = loc.ob;
							var lng = loc.pb;
							$("#end").val( lat + "," + lng );
							$("#end_select").remove();
						});
					});
					$("#end_select").blur( function() {
						$(this).remove();
					});
				} else if( result.length == 1 ) {
					var loc = result[0].geometry.location;
					var lat = loc.ob;
					var lng = loc.pb;
					$("#end").val( lat + "," + lng )
				}
			});
		});
	});
})(jQuery);
</script>
{% endblock %}
