{% extends "driver/driver.html" %}
{% block title %}Driver Signup{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for m in messages %}
					<div class='alert alert-error'>{{ m }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div class="offset4 span3">
			<form method="post" action="/driver/">
				<fieldset>
					<legend>Car Information</legend>
					{{ car.hidden_tag() }}
					{{ car.make.label }}{{ car.make }}
					{{ car.model.label }}{{ car.model }}
					{{ car.color.label }}{{ car.color }}
					{{ car.license_plate.label }}{{ car.license_plate }}
					{{ car.available_seats.label }}{{ car.available_seats }}
					<button type="submit">Signup</button>
				<fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}
