{% extends "driver/driver.html" %}
{% block title %}Driver Signup{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="offset4 span3">
			<form>
				<fieldset>
					<legend>Car Information</legend>
					<label>License Place</label>
					<input type="text" placeholder="License Plate">

					<label>Make</label>
					<input type="text" placeholder="Car Make">

					<label>Model</label>
					<input type="text" placeholder="Car Model">

					<label>Color</label>
					<input type="text" placeholder="Car Color">

					<button type="submit">Signup</button>
				<fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}
