{% extends "rider/rider.html" %}
{% block title %}Rider Panel{% endblock %}
{% block head %}
	{{ super() }}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<style>
		#map-canvas {
			height: 500px;
			position: absolute;
		}
	</style>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="span3">
			<fieldset>
				<legend>Search for a ride</legend>
				<form>
					<label>Location:</label>
					<input class="location" type="text" placeholder="Where are you?">

					<label>Day:</label>
					<input type="text" placeholder="What day?">

					<label>Time:</label>
					<input type="text" placeholder="What time?">
					<!--<div class="input-append datepicker" data-date="12-12-2013" data-date-format="dd-mm-yyyy">
						<input class="span2" size=16 type="text" value="12-12-2013">
					</div>-->

		</div>
		<div class="offset3 span8" id="map-canvas"></div>
	</div>
</div>
{% endblock %}
{% block custom_javascript %}
var schedules = [];
var routes = [];
var map;
var directions = new google.maps.DirectionsService();
var geocoder = new google.maps.Geocoder();
var directionsDisplay;
var you;
(function($) {
	$( document ).ready( function() {
		//$(".datepicker").datepicker();
		
		$(".location").blur( function( e ) {
			geocoder.geocode( { "address": $(this).val() }, function( result, status ) {
				var loc = result[0].geometry.location;
				var lat = loc.ob;
				var lng = loc.pb;
				$.get( "/rider/routes/" + lat + "/" + lng, function( data, status ) {
					schedules = $.parseJSON( data );
					put_routes( schedules );
				});

				if( you ) {
					you.setMap( null );
				}

				you = new google.maps.Marker({
					position: new google.maps.LatLng( lat, lng ),
					map: map,
					title: "You"
				});
			});
		});
	});
})(jQuery);
function put_routes( s ) {
	for( var i = 0; i < routes.length; i++ ) {
		routes[i].setMap( null );
	}
	routes = [];

	for( var i = 0; i < schedules.length; i++ ) {
		var temp = s[i];
		var start = new google.maps.LatLng( temp["start"][0], temp["start"][1] );
		var end = new google.maps.LatLng( temp["end"][0], temp["end"][1] );

		var request = {
			origin: start,
			destination: end,
			travelMode: google.maps.TravelMode.DRIVING
		};

		directions.route( request, function( result, status ) {
			if( status == google.maps.DirectionsStatus.OK ) {
				directionsDisplay = new google.maps.DirectionsRenderer();
				directionsDisplay.setMap( map )
				directionsDisplay.setDirections( result );
				routes.push( directionsDisplay );
			}
		});
	}
}
function initialize() {
	var mapOptions = {
		zoom: 12,
		center: new google.maps.LatLng( 37.2869, -80.0558 ),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map( document.getElementById( 'map-canvas' ), mapOptions );

}
google.maps.event.addDomListener( window, 'load', initialize );
{% endblock %}
